@model IEnumerable<ToDoList.Models.TaskItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
</div>

@foreach (var item in Model)
{
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayFor(model => item.Description)</li>
        </ul>
    </div>
}
